/* CSS EXERCISES

11) Give a maximum width to the body and center it into the page
12) Set every h1 to be centered
13) Change the color of each link in the page
14) Create a class with a border assigned to it
15) Set the previously created table to have rounded corners
16) Add a margin between every paragraph
17) Create a class which changes font size and text weight when applied
18) Create a class to hide a piece of content
19) Add a green border to each <td>
20) Add a dotted red border to each <tr> (note: <tr> does not accept a border property)
*/

body {
  max-width: 1300px;
  margin-inline: auto;
}

h1 {
  text-align: center;
}

a {
  color: hotpink;
}

.table-container {
  border: solid 2px red;
  border-radius: 20px;
}

p {
  margin: 10px;
}

.hidden {
  visibility: hidden;
}
td {
  border: solid 1px green;
  width: 110px;
  height: 110px;
  padding: 10px;
  text-align: center;
  object-fit: contain;
}
table {
  margin-inline: auto;
  border: solid 2px;
  border-radius: 20px;
  margin-block: 10px;
  padding: 5px;
}

tr {
  border: dotted 3px red;
}

.test {
  background-color: blue;
}
